@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Poppins:ital,wght@0,700;1,300&family=Roboto:ital,wght@0,400;1,500&display=swap');
*{
  padding: 0;
  margin:0;
  font-family: "Roboto", "sans-serif";
}
body{
  background-color: #FCEEC8;
}
.container{
  width: 70%;
  margin: auto;
  padding-top: 100px;
  display: flex;
}
.left-content,.right-content{
  flex-basis: 50%;
}
.left-content{
  width: 1100px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 0.5fr));
  grid-gap: 2rem;
}
.right-content{
  width: 50%;
  text-align: center;
  color:black;
  position: fixed;
  top:100px;
  right: 10px;
}
.right-content img{
  margin: 2rem;
  height: 200px;
}
.right-content h3{
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}
.abilities{
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}
.abilities .group{
  background-color: #b74555;
  color: white;
  margin-left: 10px;
  padding: 0.5rem;
  font-size: 12px;
  border-radius: 8px;
}
.card{
  cursor: pointer;
  width: 250px;
  height: 100px;
  background-color:mediumaquamarine;
  border-radius: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.img{
  width: 60px;
  height: 50px;
}
.base-state{
  margin-top: 2rem;
}
.botones{
  display: flex;
}
.botones button{
  outline: none;
  border: none;
  width: 150px;
  padding: 0.3rem 0;
  margin: 1rem;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color:darkslategrey;
  border-radius: 8px;
}

